body{
    background: white;
    font : 8pt/160% 'Lucida Grande';

}

table td{
    font: 8pt/190% 'Lucida Grande';
}
.upper ul{
    margin:0px;
    padding:0px;
}
.upper ul li {
    margin:0 52px 2px 0;
    padding:2px;
    font: 8pt/160% 'Lucida Grande';
}
div.wrapper{
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: auto;    
}

div.upper{
    position: absolute;
    width: 100%;
    height: 300px;    
}

div.lower{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 270px;
}

table.tab tr td{
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    border-top-style: groove;
    border-right-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
}

li
{
    list-style-type: none;
}

a:link ,a:visited
{
    text-decoration: none;
    color:black;
}

a:hover
{
    color:sienna;
}

input, select, textarea {
    margin: 5px 0;
    padding: 7px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #D4D4D4 #EBEBEB #EBEBEB #D4D4D4;
    font: 8pt 'Lucida Grande';    
}

label {
    font-weight: normal;    
    font: 8pt/160% 'Lucida Grande';
}

legend
{
    color:sienna;
    
}

/*.part
{
    font: 8pt/160% 'Lucida Grande';
}*/

input.screen
{
    position: absolute;
    top: 45%;
    left: 35%;
}